In [1]:
1295423+873567+786543+918145+126322

4000000

In [2]:
india = 1295423
USA = 873567
China = 786543
UK = 918145
ireland = 126322

In [3]:
!pip install faker

Requirement already satisfied: faker in c:\users\vishal\appdata\local\programs\python\python311\lib\site-packages (19.13.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\vishal\appdata\local\programs\python\python311\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\vishal\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [10]:
from faker import Faker
from datetime import date, time
import random

# Create an instance of the Faker class with the 'en_IN' locale for Indian data
fake = Faker('en_IN')

# Create an empty list to store the tabular data
tabular_data = []

# Generate and append fake data for 10 users, assuming all users are from India
for user_id in range(1, 1295424):  # Generating User IDs from 1 to 10
    dob = fake.date_of_birth(tzinfo=None, minimum_age=18, maximum_age=45)
    age = date.today().year - dob.year - ((date.today().month, date.today().day) < (dob.month, dob.day))

    # Generate a random username (this is just an example)
    username = fake.user_name()

    # Set the "Country" to "India"
    country = "India"

    # Generate random Privacy Settings (public/private)
    privacy_settings = random.choice(["Public", "Private"])

    # Generate random daily average active time
    active_time_hour = random.randint(1, 8)  # Assuming 1-8 hours of daily average active time
    active_time_minute = random.randint(0, 59)
    active_time = time(hour=active_time_hour, minute=active_time_minute)

    row = {
        "User ID": user_id,
        "First Name": fake.first_name(),
        "Last Name": fake.last_name(),
        "Date of Birth": dob.strftime("%Y-%m-%d"),  # Format date as YYYY-MM-DD
        "Age": age,
        "Country": country,
        "Privacy Settings": privacy_settings,
        "Daily Average Active Time": active_time.strftime("%H:%M"),  # Format time as HH:MM
    }
    tabular_data.append(row)

In [11]:
import pandas as pd
df = pd.DataFrame(tabular_data)

In [12]:
df

,User ID,First Name,Last Name,Date of Birth,Age,Country,Privacy Settings,Daily Average Active Time
0,1,Piya,Ahuja,1985-09-05,38,India,Public,01:59
1,2,Jayant,Chad,1992-10-23,31,India,Private,07:57
2,3,Shray,Korpal,1983-01-10,40,India,Public,01:17
3,4,Divij,Singh,1995-04-11,28,India,Public,01:41
4,5,Advik,Hans,1987-05-13,36,India,Private,04:40
...,...,...,...,...,...,...,...,...
1295418,1295419,Ritvik,Khalsa,2001-07-03,22,India,Public,01:28
1295419,1295420,Dhanush,Dass,1995-10-18,28,India,Public,02:15
1295420,1295421,Vihaan,Sunder,2003-03-28,20,India,Private,03:20
1295421,1295422,Nayantara,Baria,1989-12-26,33,India,Public,08:02
1295422,1295423,Sahil,Chakrabarti,1995-05-16,28,India,Private,03:24

In [14]:
file_path = 'C:\\Users\\vishal\\OneDrive\\Desktop\\Social Media network Analysis platform\\user_data_india.csv'

# Save the DataFrame to a CSV file
df.to_csv(file_path, index=False)

print(f"Data saved to {file_path}")

Data saved to C:\Users\vishal\OneDrive\Desktop\Social Media network Analysis platform\user_data_india.csv